.property-grid .scrollview-contents {
    padding-right: -1px;
}

.text-tiny {
    font-size: 12px;
}

.text-small {
    font-size: 12px;
}

.text-normal {
    font-size: 12px;
}

.color-picker .controls-container .label {
    width: 65px;
}
